body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 10%;
}

#itemInput {
    margin-bottom: 10px;
}

#items {
    margin-top: 10px;
}

.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

button {
    margin-left: 10px;
}